<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
            <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Urbanist:wght@800&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Urbanist:wght@500&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
      *{
            margin: 0;
            padding: 0;
            box-sizing:border-box;
        }
        body{
            background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('https://thumbs.dreamstime.com/b/happy-family-children-relaxing-couch-laptop-happy-family-children-relaxing-couch-laptop-smiling-young-187860706.jpg');
            background-repeat:none;
            background-size:cover;
            font-family: 'Urbanist', sans-serif;
        }
        .navbar2{
            width:80%;
            justify-content:space-between;
            display:flex;
            align-items:center;
            height:10vh;
            color:white;
        }

        .navbar{
            position:relative;
            left:180px;
        }
        .navbar ul{
            display:flex;
            list-style:none;
            gap:4rem;
        }
        .navbar ul a{
            text-decoration:none;
            gap:2rem;
            color:white;
        }
        .logo{
        position:relative;
        left:150px;
        color:white;
        text-decoration:none;
        align-items:center;
       }


        .logo a{
            align-items:center;
            position:relative;
            bottom:15px;
            color:white;
            text-decoration:none;
        
        }

        .h2{
            position:relative;
            top:150px;
        }
        

       .column{
            
            display:flex;
            position:relative;
            top:80px;
            left:300px;
            animation-name:omkar1;
            animation-duration:1s;
            animation-iteration-count:1;
            animation-direction:alternate;
       }

        .form-text{
        
            align-items:center;     
            background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('https://wallpapercave.com/wp/wp9442288.jpg');
            background-size:cover;
            background-repeat:none;
            padding-left:30px;
            width:30%;
            color:white;
       }
        .form1{
            height:500px;
            background-color:white;
            width:30%;
            
        }
        @keyframes omkar1{
            from{
                left:-800px;
            }
            to{
                left:300px;
            }
        }

        .form1 h2{
            padding:10px;
        }
        
       .registration-form{
            background-color:white;
            padding-top:10px;
            text-align:center;
            width:35%;
            height:400px;
            padding-top:20px;
       }


       .ab{
            margin-right:20px;
            margin-bottom:20px;
            height:38px;
            font-size:15px;
            font-family: 'Urbanist', sans-serif;
       }



      
        
        
        #gender{
    
        }
        .gender{
            align-items:center;
            position:relative;
            top:10px;
        }
        
        .p1{
            position:relative;
            top:160px;
        }
        .h2{
            position:relative;
            top:150px;
        }
        .registration-form h1{
            padding-bottom:20px;
        
        
        }
        
         .go{
            align-items:center;
            background-color: rgb(5, 5, 15);
            height:60px;
            width:120px;
            font-weight:700;
            color:white;
            transition:0.5s ease-in-out;
            position:relative;
            right:200px;
            border-radius:10px;
            cursor:pointer;
            font-size:17px;
            font-family:'Urbanist', sans-serif;
            margin-top:10px;
        }
        .go{
            left:120px;
        }
        .go:hover{
            background-color:rgb(18, 18, 92);
            transform:scale(1.1,1.1);
        }
        .login{
            background-color:transparent;
            border: 2px solid white;
            color:white;
            font-family:  'Urbanist', sans-serif;
        
            align-items:center;
            width:100px;
            height:50px;
            position:relative;
            top:170px;
            font-size:large;
            font-weight:700;
            cursor:pointer;
        }
        .login:hover{
            color:black;
            background-color:white;
        }

    
       
        .user1{
            display:flex;
            border-radius:30px;
            border:black solid;
            display:inline-block;
            width:300px;
            padding-left:20px;
            height:55px;
            

        }
        #email{
            margin-bottom:10px;
            border:none;
            margin-left:19.1px;
            height:45px;
            outline:none;
            font-size:large;
            font-family:'Urbanist', sans-serif;
            font-weight:bold;
            width:200px;
            border-top-right-radius:30px;
            border-bottom-right-radius: 30px;
            
        }

        .link{
            position:relative;
            left:90px;
        }
        

        .h1a{
            text-align:center;
        }

        .form2{
            align-items:center;
            position:relative;
            left:60px;
        }

        .img-login{
            margin-top:10px;
            text-align:center;
            margin-bottom:10px;
        }

        .log{
            width:300px;
            background-color:black;
            color:white;
            height:50px;
            transition:1s ease-in-out;
            border-radius:30px;
            font-family:'Urbanist', sans-serif;
            font-size:18px;
            border-style:ridge black;
            cursor:pointer;
        }

        .log:hover{
            background-color:rgb(15, 26, 56);
            transform:scale(1.1,1.1);

        }
            

    </style>
</head>

          
<body>

     <div class="column">
                    <div class="form-text">
                
                        <h2 class="h2">Welcome to the EcoTech Shopping Point</h2><br>
                        <p class="h2">Platform where shopping is your destiny</p>
                        <p class="h2">Please register for shopping</p>
                        <a href="/login"><button class="login">Login</button></a>                       
                    </div>
                    <div class="form1">
                    <div class="h1a">
                    <h2>Login</h2>
                    </div>
                    <div class="img-login">
                        <img src="https://cdn-icons-png.flaticon.com/512/295/295128.png" height="120px" width="120px">
                    </div>
                    <div class="form2">
                    <form id="form1" name="f1" action="/read" method="post">
                        <div class="user1">
                        <i class="fa-solid fa-user fa-xl"></i>
                        <input type="text" name="username" id="email" placeholder="Enter Your Username" onclick="f1();"><br><br>
                        </div>
                        <div class="user1">
                        <i class="fa-solid fa-lock fa-xl"></i>
                        <input type="password" name="password" id="email" placeholder="Enter Your Password"><br><br>
                        </div>
                        <button class="log" onclick="f1(); f2();">Login</button>
                    </form><br>
                    <script>
                            
                    </script>
                    <div class="link">
                    <a href="/update" class="update">Forgot Password ?</a><br><br>
                    <a href="/create" class="update">Create Account</a><br>
                    </div>
                    </div>             
                    </div>
                
    
</div>
<script>
    function f1(){
        var num1=document.getElementById('email');
        num1.style.borderColor="transparent" ;
    }
</script>
   
</body>
</html>